body {
    font-family: 'Roboto';
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.navbar {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    gap: 12px;
}

.navbar-right {
    display: flex;
    gap: 18px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.headbar {
    display: flex;
    justify-content: center;
    padding: 48px;
    background-color: #1F2937;
}

.headbar-right {
    width: 480px;
    height: 180px;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header {
    font-size: 48px;
    font-weight: 900;
}

.description {
    font-size: 18px;
    color: #e5e7eb;
}

.button {
    border: 2px;
    border-radius: 4px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 14px;
    font-weight: 900;
    padding: 5px 18px;
}

.image {
    width: 480px;
    height: 180px;
    background-color: #5c5c5c;
}

.container {
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    gap: 24px;
    padding: 24px;
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.box {
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(109, 99, 241);
    border-radius: 12px;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    padding: 78px 240px;
    text-align: justify;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.author {
    align-self: end;
    margin: 0;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
}

.sign-up-box {
    width: 620px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    padding: 12px;
    border-radius: 6px;
}

.sign-up-text {
    color: #e5e7eb;
}

.text {
    font-weight: 900;
    font-size: 18px;
}

.button2 {
    border: 1px solid white;
    border-radius: 4px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 14px;
    font-weight: 900;
    padding: 4px 16px;
}

.footer {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}